.grid{
    position:relative;
    width: 50%;
    margin: 0 auto;
    margin-top:-20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
}


img{

    height:200px;
    width:200px;

}
#title{
    margin-left:620px;
    margin-top:-20px;
}
.item {
    
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 1;
  }
  .item.muuri-item-dragging {
    z-index: 3;
  }
  .item.muuri-item-releasing {
    z-index: 2;
  }
  .item.muuri-item-hidden {
    z-index: 0;
  }
